<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rarity.apps.events">
    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="DAEvents"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AddEventActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SignupActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SuperuserActivity"
            android:label="@string/title_activity_superuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventDetailsActivity"
            android:label="@string/title_activity_event_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".abtus" />
        <activity android:name=".Profile" />
        <activity
            android:name=".EditAlarm"
            android:label="Edit alarm" />
        <activity android:name=".AlarmMe"
            android:label="AndroidMe">
        </activity>
        <activity
            android:name=".AlarmNotification"
            android:label="Alarm notification" />
        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <activity
            android:name=".EventDetailsActivity"
            android:label="@string/title_activity_event_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>